*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background-color: #7BD9F6;
    height: 100vh;
    width: 100vw;
}

 #new{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
 }

 #newCanvas{
    width: 100%;
    height: 100vh;
 }

 #heading{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 18vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 35%);
    z-index: 3;
    font-family: sans-serif;
    font-size: 10px;
    color: aliceblue;
    background-color: #170039;
 }

 #balken{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 13.5vh;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
    text-align: center;
    z-index: 2;
    font-family: sans-serif;
    font-size: 10px;
    background-color: aliceblue;
    color: #170039;
 }

 #obenRechts{
    display: flex;
    flex-direction: column;
    height: 100px;
    
 }

 #links{
    
    justify-content: flex-start;
    margin-left: 850px;
    margin-top: -140px;
    z-index: 200;
 }

 #test{
    padding-top: 5px;
 }

 h1{
    margin-left: 15px;
    font-size:large;
    font-family: sans-serif;
    color: aliceblue;
 }

 #image{
    width: 250px;
    position: relative;
    z-index: 200; 
    left: 5vw;
    top: -10px;
 }



  
  input {
    background-color: aliceblue;
  }

  #frage{
    border-radius: 18px;
    border-style: none;
    width: 500px;
    padding: 5px;
    padding-left: 15px;
    margin-left: 5px;
    font-size: large;
 }

 #vorname{
    border-radius: 18px;
    border-style: none;
    width: 150px;
    padding: 5px;
    padding-left: 15px;
    margin-left: 5px;
    font-size: large;
 }

 #alter{
    border-radius: 18px;
    border-style: none;
    width: 100px;
    padding: 5px;
    padding-left: 15px;
    margin-left: 5px;
    font-size: large;
 }

 #regForm{
    display: flex;
    flex-direction: row;
 }

 p{
    display: inline;
 }


  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #170039;
    color: white;
    border: 1px solid aliceblue;
    border-radius: 18px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size:large;
    cursor: pointer;
    margin-left: 7px;
  }
  
  button:hover {
    background-color: aliceblue;
    color: #170039;
  }
  
  #prevBtn:hover {
    background-color: aliceblue;
    color: #170039;
  }
  
  #prevBtn {
    background-color: #6a79ab;
    color: aliceblue;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    display: none;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

 #container{
    position: absolute;
    width: 100vw;
    height: 190px;
    bottom: 0px;
    
    
 }

 #impressum{
    z-index: 100;
    position: absolute;
    display: none;
    width: 100vw;
    background-color:#170039;
    color: aliceblue;
    font-family: sans-serif;
    height: 163px;
 }

 #antworten{
    z-index: 100;
    position: absolute;
    display: none;
    background-color: #170039;
    height: 163px;
    font-family: sans-serif;
    width: 100vw;
   padding-top: 10px;
   overflow: scroll;
 }

 #flex{
    display: flex;
    overflow: scroll;
   
    padding-left: 10px;
 }

 .antworten1{
    background-color: aliceblue;
    width: 300px;
    height: 140px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 15px;
}

 #first{
    margin-left: 0;
 }

 .bild1{
    width: 130px;
    height: 130px;
 
 }

 .box{
   width: 200px;
 }


 .inline{
    /*display: inline-block;*/
    color: grey;
    font-size: 20px;
    padding: 0;
    margin: 0;

 }

 .hidden{
    display: none;
 }

 /* Modal*/
 .modal{
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    clip-path: path("M 10,18 A 18,18 0,0,1 28,0 L 272,0 A 18,18 0,0,1 290,18 L 290,264 A 18,18 0,0,1 272,282 L 165,282 L 150,300 L 135,282 L 28,282 A 18,18 0,0,1 10,264 L 10,18 Z");
    font-family: sans-serif;
    background-color: aliceblue;
    color: 170039;
    border: none;
    display: none;
 }

 .modal-wrapper{
    padding: 12px;
 }

 .modal-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }




 /*BUTTONS UNTEN*/

 #rahmen{
    position: absolute;
    bottom: 1vh;
    z-index: 100;
 }

 #alt{
    display: inline;
    color: aliceblue;
    background-color: #170039;
    margin-left: 15px;
    border: none;
 }

 #imp{
    display: inline;
    background-color: aliceblue;
    color: #170039;
 }

 .buttons{
    padding: 10px;
    margin: 5px;
    border-radius: 18px;
    font-size: larger;
 }

 #kleinX{
    position: relative;
    z-index: 100;
    display: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    font-size: large;
    left: 10px;
 }


 #danke{
   font-size: large;
   font-family: sans-serif;
   color: aliceblue;
   z-index: 3000;
   position: relative;
}

.Danke{
   background-color: none;
   margin-left: 1000px;
}


 /*media queries*/

 @media (max-width: 479px){
    #image{
        width: 150px;
        left: 2vw;
        top: 0.2vh;
    }
    #heading{
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0 35%);
        height: 15vh;
        overflow: visible;
    }
    #balken{
        clip-path: polygon(0 0, 100% 0, 100% 30%, 0 70%);
        overflow:visible;
    }
    #links{
        margin-left: auto;
        margin-right: auto;
        margin-top: -0.9vh;
        z-index: 100;
        justify-content: center;
    }
    #frage{
        width: 300px;
    }
    #vorname{
      width: 100px;
    }
    #alter{
      width: 70px;
    }
    .modal{
      display: none;
    }
    #danke{
      
      color: #170039;
    }
    .Danke{
      margin-top: -20px;
      position: absolute;
      z-index: 100;
      width: 100vw;
      padding: 10px;
      margin-left: 8vw;
      margin-right: 8vw;
    }
 }

 
 @media (max-width: 1024px){
   #image{
       width: 150px;
       left: 2vw;
       top: 0.2vh;
   }
   #heading{
       clip-path: polygon(0 0, 100% 0, 100% 60%, 0 35%);
       height: 15vh;
       overflow: visible;
   }
   #balken{
       clip-path: polygon(0 0, 100% 0, 100% 30%, 0 70%);
       overflow:visible;
   }
   #links{
       margin-left: auto;
       margin-right: auto;
       margin-top: -0.9vh;
       z-index: 100;
       justify-content: center;
   }
   #frage{
       width: 300px;
   }
   #vorname{
     width: 100px;
   }
   #alter{
     width: 70px;
   }
   .modal{
     display: none;
   }
   #danke{
     
     color: #170039;
   }
   .Danke{
     margin-top: -20px;
     position: absolute;
     z-index: 100;
     width: 100vw;
     padding: 10px;
     margin-left: 8vw;
     margin-right: 8vw;
   }
}

